.ani-div{
width: 50%;
}
.log-div{
    width: 50%;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
 
  
  
  }
  
  
  
  
  
  
  
  .form-box {
    max-width: 400px;
    background: #79c4b0;
    overflow: hidden;
    border-radius: 16px;
    color: #010101;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .form {
    color: #500472;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
  }
  
  /*Form text*/
  .title {
    font-weight: bold;
    font-size: 1.6rem;
  }
  
  .subtitle {
    font-size: 1rem;
    color: #500472;
  }
  
  /*Inputs box*/
  .form-container {
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    margin: 1rem 0 .5rem;
    width: 100%;
  }
  
  .input {
    border-color: #500472;
    border: 0;
    outline: 2PX;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #81d679;
    font-size: .9rem;
    padding: 8px 15px;
  }
  
  .form-section {
    padding: 16px;
    font-size: .85rem;
    background-color: #81d679;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
  }
  
  .form-section a {
    font-weight: bold;
    color: #500472;
    transition: color .3s ease;
  }
  
  .form-section a:hover {
    color: #500472;
    text-decoration: underline;
  }
  
  /*Button*/
  .form button {
    background-color: #500472;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
  }
  
  .form button:hover {
    background-color: #500472;
  }

 
  .log-div{
    margin-top: 140px;
  }
  .ani-div{
   margin-top: 95px;
  }